## Non-Graded Challenge 1

### Nama   : Aisya Rafa Maharani
### Batch  : 028 RMT

# Task #1

In [21]:
# Membuat list dengan nama customer_id dengan isi dari list adalah id dari customer
customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461',
               'B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821',
               'B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082',
               'B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083',
               'A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082',
               'A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083',
               'B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821',
               'A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

In [19]:
# Memeriksa apakah ada id customer yang sama, dengan melihat panjang list
# len(customer_id) adalah list yang apa adanya
# len(set(customer_id)) menggunakan set agar isi dari list menjadi unique semua (gada yang sama)
len(customer_id) == len(set(customer_id))

False

Hasil running adalah false, berarti panjang list yang apa adanya tidak sama dengan panjang list yang sudah diubah semua menjadi unique. Maka dapat disimpulkan bahwa terdapat id customer yang sama

In [20]:
# Jumlah customer id yang unique
len(set(customer_id))

12

Maka, dapat disimpulkan bahwa customer id yang unique berjumlah 12

# Task #2

In [8]:
# Membuat list dengan nama Data dan isinya adalah angka-angka
Data = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]

In [12]:
# Mengambil list dengan index ke-3 yaitu 16
Data[3]

16

In [14]:
# Mengambil list dengan index ke-5 sampai ke-8
Data[5:9]

[36, 49, 64, 81]

In [17]:
# Mengambil list dari belakang
# :: artinya mengambil semua isi dari list
# -1 artinya diambil dari data paling belakang
Data[::-1]

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

# Task #3

In [22]:
# Membuat dictionary provinsi
# Key nya adalah nama provinsi
# Value adalah nama ibukota dari provinsi tersebut
provinsi = {'Nanggroe Aceh Darussalam': 'Aceh',
            'Sumatera Selatan': 'Palembang',
            'Kalimantan Barat': 'Pontianak',
            'Jawa Timur': 'Madiun',
            'Sulawesi Selatan': 'Makassar',
            'Maluku': 'Ambon'}

In [24]:
# Meminta list yang isinya adalah semua key dari dictionary
provinsi.keys()

dict_keys(['Nanggroe Aceh Darussalam', 'Sumatera Selatan', 'Kalimantan Barat', 'Jawa Timur', 'Sulawesi Selatan', 'Maluku'])

In [27]:
# Mengganti value dari key Jawa Timur, dari Madiun menjadi Surabaya
provinsi['Jawa Timur'] = 'Surabaya'

# Melihat isi dari dictionary provinsi
provinsi

{'Nanggroe Aceh Darussalam': 'Aceh',
 'Sumatera Selatan': 'Palembang',
 'Kalimantan Barat': 'Pontianak',
 'Jawa Timur': 'Surabaya',
 'Sulawesi Selatan': 'Makassar',
 'Maluku': 'Ambon'}